.contact {
  margin-block-start: calc(var(--base-margin) * 2);
  width: min(85vw, 640px);
  margin-inline: auto;

  p {
    text-align: center;
    font-size: calc(var(--base-fs) * 1.15);
  }
}

.contact-section {
  h2 {
    font-size: calc(var(--base-fs) * 2.75);
    text-align: center;
  }

  a {
    padding-inline: calc(var(--base-padding) * 4);

    @media screen and (width > 768px) {
      padding-inline: calc(var(--base-padding) * 3);
    }
  }
}
