.home-wrapper {
  .intro {
    margin-block-end: calc(var(--base-margin) * 3);

    p {
      word-spacing: 5px;
      font-size: calc(var(--base-fs) * 1.25);
      margin-block-end: calc(var(--base-margin) * 1.5);
    }

    h1 {
      span {
        font-size: calc(var(--base-fs) * 3.5);
        font-weight: 900;

        &:first-of-type {
          color: var(--heading-color);
        }

        &:last-of-type {
          line-height: calc(var(--base-lh) * 0.7);
        }
      }
    }
  }

  .details {
    inline-size: min(90%, 32em);

    a {
      margin-block-start: calc(var(--base-margin) * 6);
    }
  }
}
